@import "pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";
@import "tailwindcss";

:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  background-color: oklch(97% 0 0);
  margin: 0;
}

#root {
  max-width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

p {
  margin: 0;
}

@theme {
  /* Font */
  --font-sans:
    "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;

  /* Color */
  --color-background: oklch(97% 0 0); /* Neutral-100 */
  --color-sub-background: oklch(87% 0 0); /* Neutral-300 */
  --color-primary: oklch(69.6% 0.17 162.48); /* Emerald-500 */
  --color-border: oklch(87% 0 0); /* Neutral-300 */
  --color-black-text: oklch(14.5% 0 0); /* Neutral-950 */
  --color-white-text: oklch(98.5% 0 0); /* Neutral-50 */
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold text-gray-900 dark:text-gray-100;
  }

  h1 {
    @apply text-4xl md:text-6xl tracking-tight;
  }

  h2 {
    @apply text-xl md:text-2xl tracking-tight;
  }

  h3 {
    @apply text-lg md:text-lg;
  }

  h4 {
    @apply text-base md:text-lg;
  }

  h5 {
    @apply text-sm md:text-base;
  }

  p,
  span {
    @apply m-0 
      text-black-text font-medium;
  }
}
